#color slot= [attributes] foreground [background]
#color = 0 - 256 (ANSI); #000000 (24bit Hex); black, red, green, yellow, blue, magenta, cyan, white (ANSI color words); normal (custom Git Color?)
#attributes: bold dim italic ul blink reverse strike
#
[color "status"]
header = "#999999"
added = "#99cc99"
changed = "#f2777a"
untracked =  "#ffcc66"
branch = "#2d2d2d" "#6699cc"
nobranch = bold ul blink "#f99157"

[color "diff"]
meta = "#999999"
func = "#cc99cc"
frag = "#66cccc"
context =  "#999999"
old = "#f2777a" "#393939"
new = "#bef2be" "#515151"
